/*--------------Toda la pagina--------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}


/*--------------Fondo de pagina--------------*/
body{
    font: normal 1.1rem/1.5 Verdana;
    background: radial-gradient(circle at center, #a69a9a 0%, #ffffff 100%);
    color: rgb(5, 5, 5);
    padding: 50px 0;
   
}
/*--------------Barra de navegacion--------------*/
header{
    border-bottom: 3px solid red; 
    margin: 0 auto;
    padding: 15px;
    padding-bottom: 0px;
    display: flex;
    position: sticky;
 
  
}
nav{
    margin: 0 auto;
    justify-content: space-between;
    
   
}
nav ul{
    display: flex;
    list-style: none;
    
}
nav ul li{
    color: black;
    margin: 20px;
    padding: 5px 20px;
    font-size: 30px;
    
}
.links a{
    color: black;
    text-decoration: none;
}
.links a:hover{
     color: #d00000;
    border-bottom: 2px solid #d00000;
}
.lugar{
    color: #d00000;
    border-bottom: 2px solid #d00000;
}
h1{
  margin: 10px;
  padding: 5px;
}

.logo{
  width:100px;
  height: 100px;
  border: 1px solid black;

}
/*--------------*/
main{
    display: flex;
    flex: 1;
}
main aside{
  width: 25%;
  padding: 25px;
}
section >h2, p{
  margin: 10px;
  padding: 5px;

}
#Horario  {
  display: flex;
  padding: 50px;
  margin: 5px;
}
article h2{
  margin: 30px;
}
.ventajas{
  margin: 10px;
  padding: 5px;
}
/*--------------Pie de pagina--------------*/
footer{
    background-color: #3b3939;
    text-align: center;
    color: black;

}
footer img{
    margin: 10px;
    width: 50px;
    height: auto;
}
/*--------------Pantalla movil--------------*/
@media(max-width:580px){
  header{
    flex-direction: column;
  }
  .links{
    flex-direction: column;
  }

  main{
    flex-direction: column;
  }

  main section article{
    width: 95%;
    flex-direction: column;
  }

  main section{
    width: 100%;
  }
   aside{
    width: 100%;
  }

  .logo{
    display: none;
  }
}
