/*--------------Toda la pagina--------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}


/*--------------Fondo de pagina--------------*/
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font: normal 1.1rem/1.5 Verdana;
    background: radial-gradient(circle at center, #a69a9a 0%, #ffffff 100%);
    color: rgb(5, 5, 5);
    padding-top: 50px;
    
}
main{
  flex: 1;
}
/*--------------Barra de navegacion--------------*/
header{
    border-bottom: 3px solid red; 
    margin: 0 auto;
    padding: 15px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    width: 100%;
 
  
}
nav{
    margin: 0 auto;
    justify-content: space-between;
    
   
}
nav ul{
    display: flex;
    list-style: none;
    
}
nav ul li{
    color: black;
    margin: 20px;
    padding: 5px 20px;
    font-size: 30px;
    
}
.links a{
    color: black;
    text-decoration: none;
}
.links a:hover{
     color: #d00000;
    border-bottom: 2px solid #d00000;
}
.lugar{
    color: #d00000;
    border-bottom: 2px solid #d00000;
}

h1{
    margin: 10px;
    padding: 5px;
}

.logo{
  width: 100px;
  height: 100px;
  border: 1px solid black;

}
/*--------------Formulario para contacto--------------*/
.formulario{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.list1, .list2{
    list-style-type: none;
}
.list1{
    max-width: 800px;
    margin: 0 auto;
}
.list1 li label,
.list2 li label,h2,p{
    padding: 8px;
}
.list1 > li{
    margin-bottom: 10px;
}
.list1 li input,
.list2 li textarea{
    padding: 5px;
    border: none;
    
}
.terminos{
    padding: 20px;
}

/*--------------Pie de pagina--------------*/
footer{
    align-items: flex-end;
    background-color: #3b3939;
    text-align: center;
    color: black;
  

}
footer img{
    margin: 10px;
    width: 50px;
    height: auto;
}
/*--------------Pantalla movil--------------*/
@media(max-width:580px){
  header{
    flex-direction: column;
  }
  .links{
    flex-direction: column;
  }

  main{
    flex-direction: column;
  }

  main form {
    width: 95%;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .logo{
    display: none;
  }
}