<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/contacto.css">
</head>
<body>
     <!--Barra de navegacion-->
    <header>
        <img src="../images/logo.png" alt="Logotipo" class="logo" width="1024" height="1024" >
        <h1>HondaMotors</h1>
        <nav>
            <ul class="links">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./productos.html">Productos</a></li>
                <li><a href="./presupuestos.html">Presupuestos</a></li>
                <li><a class="lugar" href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            
            <h2>Sobre nosotros</h2>
            <p>
                Somos una empresa joven dedidaca y comprometida con la venta de motos honda de segunda mano. Nuestro mayor
                objetivo es lograr que nuestros clientes puedan tener la moto de sus sueños. Para ello contamos con las mejores ofertas
                del mercado y con un grupo de expertos que evaluan la fiabilidad de nuestras motos. Para mas inforamacion no dude en 
                contactarnos.
            </p>
            
            
             
            <article id="Horario">
                <h2>Dónde estamos?</h2>
                <!--Enlace a google maps para la ubicacion-->
                <iframe 
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d782.4896487568591!2d-0.5187389796905391!3d38.32678963704684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1761585479649!5m2!1ses!2ses" 
                width="600" 
                height="450" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">

                </iframe>
            
                <h2>Horario</h2>
                <ul>
                    <li>Lunes: 09:00-18:30</li>
                    <li>Martes: 09:00-18:30</li>
                    <li>Miercoles: 09:00-18:30</li>
                    <li>Jueves: 09:00-18:30</li>
                    <li>Viernes: 09:00-18:30</li>
                    <li>Sabado: 09:30-13:30</li>
                    <li>Domingo: Cerrado</li>
                </ul>
            </article>

            <h2>¿Por qué elegir HondaMotors?</h2>
            <div class="ventajas">
                <div>
                    <h3>🚚 Envíos a toda España</h3>
                    <p>Recibe tu moto Honda en cualquier punto del país, con total seguridad.</p>
                </div>
                <div >
                    <h3>🧰 Servicio oficial</h3>
                    <p>Mantenimiento y repuestos 100% originales Honda.</p>
                </div>
                <div>
                    <h3>💳 Financiación flexible</h3>
                    <p>Elige el plan de pago que mejor se adapte a ti.</p>
                </div>
            </div>
        </section>
         
        <aside>
            <!--Informacion de contacto-->
            <h2>Contacto</h2>
            <p>+34614133699</p>
            <p>atencion_cliente@hondamotor.es</p>
        </aside>
    </main>
    
    <footer>
        <!--Pie de pagina-->
        <p>&copy;HondaMotors Todos los derechos reservados</p>
        <div>
            <a href="https://facebook.com/" target="_blank">
                <img src="../images/facebook.png" alt="facebook">
            </a>
            <a href="https://instagram.com">
                <img src="../images/instagram.png" alt="instagram">
            </a>
            <a href="https://twitter.com">
                <img src="../images/x.png" alt="X">
            </a>
            <a href="https://youtube.com/">
                <img src="../images/youtube.png" alt="youtube">
            </a>
        </div>
        
    </footer>
    
</body>
</html>