<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presupuestos</title>
    <link rel="stylesheet" href="../css/presupuestos.css">
</head>
<body>
      <!--Barra de navegacion-->
    <header>
        <img src="../images/logo.png" alt="Logotipo" class="logo" width="1024" height="1024" >
        <h1>HondaMotors</h1>
        <nav>
            <ul class="links">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./productos.html">Productos</a></li>
                <li><a class="lugar" href="#">Presupuestos</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!--Formulario para solicitud de info del producto-->
        <div class="formulario">
            <form action="#" method="get" enctype="multipart/form-data">
                <fieldset>
                    
                    <legend>Pide tu presupuesto</legend>
                    <ul class="list1">
                        <li>
                            <label for="nombre">Nombre</label>
                            <input type="text" name="nombre" id="nombre" placeholder="Escriba su nombre" pattern="[a-zA-Z ñÑ]{3,40}" required >
                        </li>   
                        <li>
                            <label for="email">Em@il</label>
                            <input type="email" name="email" id="email" placeholder="@" required>
                        </li>
                        <li>
                            <label for="telefono">Telefono</label>
                            <input type="tel" name="telefono" id="telefono" placeholder="Escriba su numero" pattern="[1-9]{7,15}" required>
                        </li> 
                        <li>      
                            <label for="modelo">Elige tu Modelo</label>
                            <input list="modelos" id="modelo" name="modelo" required>
                            <datalist id="modelos">
                                <option value="Honda CB1000R"></option>
                                <option value="Honda CB125R"></option>
                                <option value="Honda CB300R "></option>
                                <option value="Honda CB500F"></option>
                                <option value="Honda CB500X"></option> 
                                <option value="Honda CB650R"></option> 
                                <option value="Honda Rebel 500"></option> 
                                <option value="Honda CBR650R"></option>
                                <option value="Honda CB125F"></option>     
                            </datalist>
                        </li>    
                        <li>
                            <label for="inforamacion">Solicita mas informacion</label>
                            <textarea name="inforamacion" id="inforamacion" placeholder="..."  required maxlength="300"></textarea>
                        </li>
                    </ul>
                </fieldset>
                
                <div class="terminos">
                    <h2>Terminos & Condiciones</h2>
                    <p>Si desea consular nuestra politica de privacidad toque el siguiente
                        <a href="../views/Terminos_y_Condiciones_HondaMotors.html">enlace</a>
                    </p>
                    <ul class="list2">
                        <li>
                            <input type="checkbox" name="Terminos" value="si" id="Terminos"  required>
                            <label for="Terminos">Acepto terminos y condiciones</label>
                        </li>
                        <li>
                            <input type="submit">
                            <input type="reset" value="Borrar">
                        </li>
                    </ul>
                </div>
                
            </form>
        </div>
    </main>
    <footer>
        <!--Pie de pagina-->
        <p>&copy;HondaMotors Todos los derechos reservados</p>
            <div>
                <a href="https://facebook.com/" target="_blank">
                    <img src="../images/facebook.png" alt="facebook">
                </a>
                <a href="https://instagram.com">
                    <img src="../images/instagram.png" alt="instagram">
                </a>
                <a href="https://twitter.com">
                    <img src="../images/x.png" alt="X">
                </a>
                <a href="https://youtube.com/">
                    <img src="../images/youtube.png" alt="youtube">
                </a>
             </div>
        
    </footer>

</body>
</html>