<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="../css/productos.css">
</head>
<body>
      <!--Barra de navegacion-->
    <header>
        <img src="../images/logo.png" alt="Logotipo" class="logo">
        <h1>HondaMotors</h1>
        <nav>
            <ul class="links">
                <li><a href="../index.html">Inicio</a></li>
                <li><a class="lugar" href="#">Productos</a></li>
                <li><a href="./presupuestos.html">Presupuestos</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!--Galeria de fotos-->
        <h1>Nuestas motos</h1>
        <div class="productos">
            <img src="../images/CB1000R.png" alt="CB1000R" title="Honda CB1000R">
            <img src="../images/CB125R.jpeg" alt="CB125R" title="Honda CB125R">
            <img src="../images/CB300R.webp" alt="CB300R" title="Honda CB300R ">
            <img src="../images/CB500F.webp" alt="CB500F" title="Honda CB500F">
            <img src="../images/CB500X.jpg" alt="CB500X" title="Honda CB500X">
            <img src="../images/CB650R.jpg" alt="CB650R" title="Honda CB650R">
            <img src="../images/Rebeb500.jpeg" alt="Rebel500" title="Honda Rebel 500">
            <img src="../images/CBR650R.jpg" alt="CBR650R" title="Honda CBR650R">
            <img src="../images/Colores_CB-125.jpg" alt="CB125F" title="Honda CB125F">
        </div>

    </main>
    <footer>
         <!--Pie de pagina-->
        <p>&copy;HondaMotors Todos los derechos reservados</p>
        <div>
            <a href="https://facebook.com/" target="_blank">
                <img src="../images/facebook.png" alt="facebook">
            </a>
            <a href="https://instagram.com">
                <img src="../images/instagram.png" alt="instagram">
            </a>
            <a href="https://twitter.com">
                <img src="../images/x.png" alt="X">
            </a>
            <a href="https://youtube.com/">
                <img src="../images/youtube.png" alt="youtube">
            </a>
        </div>
        
    </footer>
    
</body>
</html>